<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>CounterLogic</servlet-name>
    <servlet-class>com.google.api.gmail.service.AddressCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterLogic</servlet-name>
    <url-pattern>/counter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CallbackServlet</servlet-name>
    <servlet-class>com.google.api.gmail.service.CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallbackServlet</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorizationServlet</servlet-name>
    <servlet-class>com.google.api.gmail.service.AuthorizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationServlet</servlet-name>
    <url-pattern>/authorization</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>SelfAuthorizationServlet</servlet-name>
        <servlet-class>com.google.api.gmail.service.SelfAuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelfAuthorizationServlet</servlet-name>
        <url-pattern>/self_authorization</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
